 {{#tmplit 'LayoutHeader' backgroundColor='grey' columnNumber='2'}} 
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
{{/tmplit}}
 {{#tmplit 'LayoutBody'}} 
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
{{/tmplit}}
{{#tmplit 'LayoutFooter' backgroundColor='yellow' columnNumber='2'}}
    {{tmplit 'Button' 'example' buttonType='set' }}
    {{tmplit 'Button' 'example2' buttonType='set' }}
{{/tmplit}}