 {{#tmplit 'LayoutHeader' backgroundColor='grey' columnNumber='6' }} 
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
{{/tmplit}}
 {{#tmplit 'LayoutBody'}} 
{{#tmplit 'Columns' maxColumns='3'}}
{{tmplit 'Button' 'Nav' buttonType='set' style='width:50px;' }}
<div>hello world</div>
{{tmplit 'Button' 'text' buttonType='set'}}
{{/tmplit}}
{{/tmplit}}
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>

        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>

        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>

        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>

        <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>

{{!-- 
{{#tmplit 'LayoutFooter' backgroundColor='yellow' columnNumber='2'}}
    {{tmplit 'Button' 'example' buttonType='set' }}
    {{tmplit 'Button' 'example2' buttonType='set' }}
{{/tmplit}} --}}