.teal-dark {
  --md-sys-color-primary: rgb(128 213 208);
  --md-sys-color-surface-tint: rgb(128 213 208);
  --md-sys-color-on-primary: rgb(0 55 53);
  --md-sys-color-primary-container: rgb(0 80 77);
  --md-sys-color-on-primary-container: rgb(156 241 236);
  --md-sys-color-secondary: rgb(176 204 202);
  --md-sys-color-on-secondary: rgb(27 53 51);
  --md-sys-color-secondary-container: rgb(50 75 74);
  --md-sys-color-on-secondary-container: rgb(204 232 230);
  --md-sys-color-tertiary: rgb(177 201 232);
  --md-sys-color-on-tertiary: rgb(26 50 75);
  --md-sys-color-tertiary-container: rgb(49 72 98);
  --md-sys-color-on-tertiary-container: rgb(209 228 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 226);
  --md-sys-color-surface: rgb(14 21 20);
  --md-sys-color-on-surface: rgb(221 228 226);
  --md-sys-color-surface-variant: rgb(63 73 72);
  --md-sys-color-on-surface-variant: rgb(190 201 199);
  --md-sys-color-outline: rgb(136 147 145);
  --md-sys-color-outline-variant: rgb(63 73 72);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(221 228 226);
  --md-sys-color-inverse-on-surface: rgb(43 50 49);
  --md-sys-color-inverse-primary: rgb(0 106 103);
  --md-sys-color-primary-fixed: rgb(156 241 236);
  --md-sys-color-on-primary-fixed: rgb(0 32 31);
  --md-sys-color-primary-fixed-dim: rgb(128 213 208);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 77);
  --md-sys-color-secondary-fixed: rgb(204 232 230);
  --md-sys-color-on-secondary-fixed: rgb(5 31 30);
  --md-sys-color-secondary-fixed-dim: rgb(176 204 202);
  --md-sys-color-on-secondary-fixed-variant: rgb(50 75 74);
  --md-sys-color-tertiary-fixed: rgb(209 228 255);
  --md-sys-color-on-tertiary-fixed: rgb(1 29 53);
  --md-sys-color-tertiary-fixed-dim: rgb(177 201 232);
  --md-sys-color-on-tertiary-fixed-variant: rgb(49 72 98);
  --md-sys-color-surface-dim: rgb(14 21 20);
  --md-sys-color-surface-bright: rgb(52 58 58);
  --md-sys-color-surface-container-lowest: rgb(9 15 15);
  --md-sys-color-surface-container-low: rgb(22 29 28);
  --md-sys-color-surface-container: rgb(26 33 32);
  --md-sys-color-surface-container-high: rgb(37 43 43);
  --md-sys-color-surface-container-highest: rgb(47 54 53);
}

.blue-dark {
  --md-sys-color-primary: rgb(152 204 249);
  --md-sys-color-surface-tint: rgb(152 204 249);
  --md-sys-color-on-primary: rgb(0 51 80);
  --md-sys-color-primary-container: rgb(4 75 113);
  --md-sys-color-on-primary-container: rgb(204 229 255);
  --md-sys-color-secondary: rgb(184 200 217);
  --md-sys-color-on-secondary: rgb(35 50 63);
  --md-sys-color-secondary-container: rgb(57 72 86);
  --md-sys-color-on-secondary-container: rgb(212 228 246);
  --md-sys-color-tertiary: rgb(209 191 231);
  --md-sys-color-on-tertiary: rgb(55 42 74);
  --md-sys-color-tertiary-container: rgb(78 65 98);
  --md-sys-color-on-tertiary-container: rgb(236 220 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(224 226 232);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(194 199 206);
  --md-sys-color-outline: rgb(140 145 152);
  --md-sys-color-outline-variant: rgb(66 71 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(45 49 53);
  --md-sys-color-inverse-primary: rgb(43 99 139);
  --md-sys-color-primary-fixed: rgb(204 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 49);
  --md-sys-color-primary-fixed-dim: rgb(152 204 249);
  --md-sys-color-on-primary-fixed-variant: rgb(4 75 113);
  --md-sys-color-secondary-fixed: rgb(212 228 246);
  --md-sys-color-on-secondary-fixed: rgb(13 29 42);
  --md-sys-color-secondary-fixed-dim: rgb(184 200 217);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 72 86);
  --md-sys-color-tertiary-fixed: rgb(236 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(33 21 52);
  --md-sys-color-tertiary-fixed-dim: rgb(209 191 231);
  --md-sys-color-on-tertiary-fixed-variant: rgb(78 65 98);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(54 58 62);
  --md-sys-color-surface-container-lowest: rgb(11 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 32);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(39 42 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}

.green-dark {
  --md-sys-color-primary: rgb(167 211 148);
  --md-sys-color-surface-tint: rgb(167 211 148);
  --md-sys-color-on-primary: rgb(19 56 10);
  --md-sys-color-primary-container: rgb(42 79 31);
  --md-sys-color-on-primary-container: rgb(194 239 174);
  --md-sys-color-secondary: rgb(188 203 177);
  --md-sys-color-on-secondary: rgb(39 52 33);
  --md-sys-color-secondary-container: rgb(61 75 54);
  --md-sys-color-on-secondary-container: rgb(215 231 204);
  --md-sys-color-tertiary: rgb(160 207 209);
  --md-sys-color-on-tertiary: rgb(0 55 57);
  --md-sys-color-tertiary-container: rgb(30 78 80);
  --md-sys-color-on-tertiary-container: rgb(188 235 237);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(225 228 218);
  --md-sys-color-surface: rgb(17 20 15);
  --md-sys-color-on-surface: rgb(225 228 218);
  --md-sys-color-surface-variant: rgb(67 72 63);
  --md-sys-color-on-surface-variant: rgb(195 200 188);
  --md-sys-color-outline: rgb(141 147 135);
  --md-sys-color-outline-variant: rgb(67 72 63);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 218);
  --md-sys-color-inverse-on-surface: rgb(46 50 43);
  --md-sys-color-inverse-primary: rgb(65 104 52);
  --md-sys-color-primary-fixed: rgb(194 239 174);
  --md-sys-color-on-primary-fixed: rgb(3 33 0);
  --md-sys-color-primary-fixed-dim: rgb(167 211 148);
  --md-sys-color-on-primary-fixed-variant: rgb(42 79 31);
  --md-sys-color-secondary-fixed: rgb(215 231 204);
  --md-sys-color-on-secondary-fixed: rgb(18 31 14);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 177);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 75 54);
  --md-sys-color-tertiary-fixed: rgb(188 235 237);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 33);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 209);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 78 80);
  --md-sys-color-surface-dim: rgb(17 20 15);
  --md-sys-color-surface-bright: rgb(55 58 51);
  --md-sys-color-surface-container-lowest: rgb(12 15 10);
  --md-sys-color-surface-container-low: rgb(25 29 23);
  --md-sys-color-surface-container: rgb(29 33 27);
  --md-sys-color-surface-container-high: rgb(39 43 37);
  --md-sys-color-surface-container-highest: rgb(50 54 47);
}
