<script id="tmplit-basic-layout-base" type="text/x-handlebars-template">
    
    {{!-- HMI Layout Wrapper - CSS Grid --}}
    <div class="tmplit-layout-grid">
        {{!-- Content wrapper - Flex --}}
        <div class="tmplit-main-wrapper">
            {{!-- Nav Bar --}}
            <div class="tmplit-navBar-container">
                {{#each actions}} 
                    {{tmplit 'PageSelect' label dom='tmplit-screen-content' template=template class=class}}
                {{/each}}
            </div>
            {{!-- Main Content --}}
            <div id="tmplit-screen-content" class="tmplit-screen-container"> 
                {{>(lookup . 'defaultMainScreen')}} 
            </div>
        </div>
        {{!-- Footer --}}
        <div class="tmplit-footer-container">
            {{#if footerContent}}
                <div class="tmplit-footer-content">{{footerContent}}</div>
            {{else}}
                <div class="tmplit-footer-content">&copy; Loupe</div>
            {{/if}}
        </div>
    </div>
</script>

<script id="tmplit-basic-layout" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/baseLayout.css" rel="stylesheet">
    
    {{> tmplit-basic-layout-base}}
</script>

<script id="tmplit-basic-layout-left-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/baseLayout.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/left.css" rel="stylesheet">
    
    {{> tmplit-basic-layout-base}}
</script>

