<script id="tmplit-basic-layout-base" type="text/x-handlebars-template">
    
    {{!-- HMI Layout Wrapper - CSS Grid --}}
    <div class="tmplit-layout-grid">
        {{!-- Content wrapper - Flex --}}
        <div class="tmplit-main-wrapper tmplit-wrapper-direction">
            {{!-- Nav Bar --}}
            <div class="tmplit-navBar-container tmplit-navBar-container-size tmplit-navBar-position tmplit-navBar-direction">
                {{#each actions}} 
                    {{tmplit 'PageSelect' label dom='tmplit-screen-content' template=template class=class}}
                {{/each}}
            </div>
            {{!-- Main Content --}}
            <div id="tmplit-screen-content" class="tmplit-screen-container"> 
                {{>(lookup . 'defaultMainScreen')}} 
            </div>
        </div>
        {{!-- Footer --}}
        <div class="tmplit-footer-container">
            {{#if footerContent}}
                <div class="tmplit-footer-content">{{footerContent}}</div>
            {{else}}
                <div class="tmplit-footer-content">&copy; Loupe</div>
            {{/if}}
        </div>
    </div>
</script>

<script id="tmplit-basic-layout-left-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/base.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/leftNav.css" rel="stylesheet">
    
    {{> tmplit-basic-layout-base}}
</script>

<script id="tmplit-basic-layout-right-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/base.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/rightNav.css" rel="stylesheet">
    
    {{> tmplit-basic-layout-base}}
</script>

<script id="tmplit-basic-layout-top-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/base.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/topNav.css" rel="stylesheet">
    
    {{> tmplit-basic-layout-base}}
</script>

<script id="tmplit-basic-layout-bot-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/base.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/botNav.css" rel="stylesheet">
    
    {{> tmplit-basic-layout-base}}
</script>

