/* Parent grid */
.tmplit-layout-grid{
    position: absolute;
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr; */
    background-color: transparent;
    height: 100%; 
    width: 100%;
}

.tmplit-main-container{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    overflow: var(--main-container-overflow, auto);
}

/* Nav Bar */
.tmplit-navBar-container{
    flex-grow: 1;
    display: flex;
    overflow: var(--navBar-container-overflow, auto);
    background-color: var(--navBar-background-color, rgb(230, 230, 230));
    /* Update this portion if use PageSelectDiv */
    list-style: none;
    /* ---------------------------------------- */
} 

.tmplit-navBar-logo-wrapper{
    text-align: var(--navBar-logo-text-align, left);
}

.tmplit-navBar-logo-wrapper img{
    padding: var(--navBar-logo-padding, 0 0 0 0);
    margin: var(--navBar-logo-margin, 0 0 0 0);
    width: var(--navBar-logo-img-width, auto);
}

.tmplit-navBar-buttons-container{
    width: 100%;
    height: 100%;
    text-wrap: nowrap;  
    text-align: var(--navBar-buttons-text-align, left);
}

.tmplit-navBar-buttons.selected{
    background-color: var(--navBar-buttons-indicator-background-color, rgb(182, 182, 182));
}

/* Update this portion if use PageSelectDiv */
.tmplit-navBar-buttons li{
    padding: var(--navBar-buttons-padding, 0 0 0 0);
    margin: var(--navBar-buttons-margin, 0 0 0 0);
}

.tmplit-navBar-buttons a{
    text-decoration: none;
    color: var(--navBar-buttons-color, none);
}

.tmplit-navBar-buttons img{
    width: var(--navBar-buttons-img-width, none);
}
/* ---------------------------------------- */

/* Screen Content */
.tmplit-screen-container{
    overflow: var(--screen-overflow, auto);
    width: 100%;
    height: 100%;
    background-color: var(--screen-background-color,  rgb(230, 230, 230)); 
    text-align: var(--screen-text-align, left);
    color: var(--screen-item-color, none);
}

/* Footer belong to tmplit-layout-grid*/
.tmplit-footer-wrapper{
    /* grid-column: 1 / span 1;
    grid-row: 2 / span 1; */
    background-color: var(--footer-background-color, rgb(150, 150, 150));
    height: var(--footer-height, 50px);
}

.tmplit-footer-content{
    position: relative;
    float: var(--footer-content-float, left);
    top: 50%;
    transform:translateY(-50%);
    opacity: var(--footer-opacity, 70%);
    margin: var(--footer-content-margin, 0 0 0 0);     
    padding: var(--footer-content-padding, 0 0 0 15px);    
}