.tmplit-main-container-direction{
    flex-direction: column;
}

.tmplit-navBar-position {
    order: 1;
}

.tmplit-navBar-container-direction{
    flex-direction: row;
}

.tmplit-navBar-container-size{
    min-height: var(--navBar-minheight, 15%);
    max-height: var(--navBar-maxheight, 20%);
}

/* Update this portion if use PageSelectDiv */
.tmplit-navBar-container-direction div{
    display: inline-block;
}