.tmplit-wrapper-direction{
    flex-direction: row;
}

.tmplit-navBar-position {
    order: 1;
}

.tmplit-navBar-container-size{
    min-width: var(--navBar-minwidth, 10%);
    max-width: var(--navBar-maxwidth, 20%);
}