.tmplit-container-direction{
    flex-direction: column;
}

.tmplit-navBar-position {
    order: 0;
}

/* Update this portion if use PageSelectDiv */
.tmplit-navBar-direction div{
    display: inline-block;
}

.tmplit-navBar-container-size{
    min-height: var(--navBar-minheight, 10%);
    max-height: var(--navBar-maxheight, 20%);
}