<lui-basic-layout>

    <template title="Button 1">
        <div>
            {{!-- {{>OpenBridge }} --}}
            <h1>Content  1</h1>
        </div>
    </template>
    

    <template title="Button 2">
        <div>
        {{!-- {{>testComponents }} --}}
        <h1>Content  2</h1>
        </div>
    </template>   

    <template title="Button 3">
        <div>
        {{!-- {{>nav}} --}}
        <h1>Content  3</h1>
        </div>
    </template>

    <div slot="footer">
        Copyright        
    </div>

</lui-basic-layout>