<lui-basic-layout navBar="left" value="0">
    <template title="Button 1">
        {{>OpenBridge }}
        {{!-- <h1>Content  1</h1> --}}
    </template>
    
    <template title="Button 2">
        {{>testComponents }}
        {{!-- <h1>Content  2</h1> --}}
    </template>   

    <template title="Button 3">
        {{>nav}}
        {{!-- <h1>Cosntent  3</h1> --}}
    </template>

    <div slot="footer">
        Copyright        
    </div>
</lui-basic-layout>