<lui-basic-layout navBar="left">
    <template img='src="../app/assets/home.svg"'>
        {{!-- {{>OpenBridge }} --}}
        <lui-basic-layout navBar="top" footer="disable">
            {{!-- <template title="Inner 1"> --}}
            <template title="Inner 1">
                {{>OpenBridge }}
                {{!-- <img src="../app/assets/logo.png"/> --}}
            </template>
            <template title="Inner 2">
                {{>testComponents }}
            </template>
            <template title="Inner 3">
                {{>nav }}
            </template>
        </lui-basic-layout>
    </template>
    
    <template img='src="../app/assets/settings.svg"'>
        {{>testComponents }}
    </template>   

    <template img='src="../app/assets/login.svg"'>
        {{>nav}}
    </template>

    <div slot="footer">
        Copyright        
    </div>
</lui-basic-layout>

