<div class="nav">
    {{tmplit "PageSelect" '<img src="app/assets/logo.png"/>' style="background:black;" dom="PageContent" template="testComponents"}}
    {{tmplit "PageSelect" "Components Test" dom="PageContent" template="testComponents"}}
    {{tmplit "PageSelect" "OpenBridge Demo" dom="PageContent" template="OpenBridge"}}
</div>